footer.footer.has-cards
  hr
  .container
    .row.align-items-center.justify-content-md-between
      .col-md-6
        .copyright
          | &copy; 2025 
          a(href="" target="_blank") Created by Taxim
          | .
      .col-md-6
        ul.nav.nav-footer.justify-content-end
          li.nav-item
            a.nav-link(href="" target="_blank") Creative Tim
          li.nav-item
            a.nav-link(href="" target="_blank") About Us
          li.nav-item
            a.nav-link(href="" target="_blank") Blog
          li.nav-item
            a.nav-link(href="" target="_blank") License
