footer.footer.has-cards
  .container.container-lg
    .row
      .col-md-6.mb-5.mb-md-0
        .card.card-lift--hover.shadow.border-0
          a(href="./examples/landing.html" title="Landing Page")
            img.card-img(src="./img/theme/landing.jpg")
      .col-md-6.mb-5.mb-lg-0
        .card.card-lift--hover.shadow.border-0
          a(href="./examples/profile.html" title="Profile Page")
            img.card-img(src="./img/theme/profile.jpg")
  .container
    .row.row-grid.align-items-center.my-md
      .col-lg-6
        h3.text-primary.font-weight-light.mb-2 Thank you for supporting us!
        h4.mb-0.font-weight-light Let's get in touch on any of these platforms.
      .col-lg-6.text-lg-center.btn-wrapper
        button.btn.btn-icon-only.btn-twitter.rounded-circle(target="_blank" href="https://twitter.com/creativetim" rel="nofollow" data-toggle="tooltip" data-original-title="Follow us")
          span.btn-inner--icon
            i.fa.fa-twitter
        button.btn-icon-only.rounded-circle.btn.btn-facebook(target="_blank" href="https://www.facebook.com/CreativeTim/" rel="nofollow" data-toggle="tooltip" data-original-title="Like us")
          span.btn-inner--icon
            i.fab.fa-facebook
        button.btn.btn-icon-only.btn-dribbble.rounded-circle(target="_blank" href="https://dribbble.com/creativetim" rel="nofollow" data-toggle="tooltip" data-original-title="Follow us")
          span.btn-inner--icon
            i.fa.fa-dribbble
        button.btn.btn-icon-only.btn-github.rounded-circle(target="_blank" href="https://github.com/creativetimofficial" rel="nofollow" data-toggle="tooltip" data-original-title="Star on Github")
          span.btn-inner--icon
            i.fa.fa-github
    hr
    .row.align-items-center.justify-content-md-between
      .col-md-6
        .copyright
          | &copy; 2020 
          a(href="" target="_blank") Creative Tim
          | .
      .col-md-6
        ul.nav.nav-footer.justify-content-end
          li.nav-item
            a.nav-link(href="" target="_blank") Creative Tim
          li.nav-item
            a.nav-link(href="" target="_blank") About Us
          li.nav-item
            a.nav-link(href="" target="_blank") Blog
          li.nav-item
            a.nav-link(href="" target="_blank") License
