// Navbar
nav#navbar-main.navbar.navbar-main.navbar-expand-lg.bg-trasparent.navbar-light.position-sticky.top-0.py-4.py-md-2
    .container
        a.navbar-brand.mr-lg-5(href="./index.html")
            img(src="./img/brand/blue.png")
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar_global", aria-controls="navbar_global", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .navbar-collapse.collapse(id="navbar_global")
            .navbar-collapse-header
                .row
                    .col-6.collapse-brand
                        a(href="./index.html")
                            img(src="./img/brand/blue.png")
                    .col-6.collapse-close
                        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar_global", aria-controls="navbar_global", aria-expanded="false", aria-label="Toggle navigation")
                            span
                            span
            
            //ul.navbar-nav.navbar-nav-hover.align-items-lg-center
                li.nav-item.dropdown
                    a.nav-link(href="#", data-toggle="dropdown", role="button")
                        i.ni.ni-ui-04.d-lg-none
                        span.nav-link-inner--text Components
                    .dropdown-menu.dropdown-menu-xl
                        .dropdown-menu-inner
                            a.media.d-flex.align-items-center(href="https://demos.creative-tim.com/argon-design-system/docs/getting-started/overview.html")
                                .icon.icon-shape.bg-gradient-primary.rounded-circle.text-white
                                    i.ni.ni-spaceship
                                .media-body.ml-3
                                    h6.heading.text-primary.mb-md-1 Getting started
                                    p.description.d-none.d-md-inline-block.mb-0 Learn how to use compiling Scss, change brand colors and more.
                            a.media.d-flex.align-items-center(href="https://demos.creative-tim.com/argon-design-system/docs/foundation/colors.html")
                                .icon.icon-shape.bg-gradient-success.rounded-circle.text-white
                                    i.ni.ni-palette
                                .media-body.ml-3
                                    h6.heading.text-primary.mb-md-1 Foundation
                                    p.description.d-none.d-md-inline-block.mb-0 Learn more about colors, typography, icons and the grid system we used for .
                            a.media.d-flex.align-items-center(href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html")
                                .icon.icon-shape.bg-gradient-warning.rounded-circle.text-white
                                    i.ni.ni-ui-04
                                .media-body.ml-3
                                    h5.heading.text-warning.mb-md-1 Components
                                    p.description.d-none.d-md-inline-block.mb-0 Browse our 50 beautiful handcrafted components offered in the Free version.
                li.nav-item.dropdown
                    a.nav-link(href="#", data-toggle="dropdown", role="button")
                        i.ni.ni-collection.d-lg-none
                        span.nav-link-inner--text Examples
                    .dropdown-menu
                        a.dropdown-item(href="./examples/landing.html") Landing
                        a.dropdown-item(href="./examples/profile.html") Profile
                        a.dropdown-item(href="./examples/login.html") Login
                        a.dropdown-item(href="./examples/register.html") Register
            ul.navbar-nav.align-items-lg-center.ml-lg-auto
                li.nav-item
                    a.nav-link(href="https://www.facebook.com/CreativeTim/")
                        | HOME
                li.nav-item
                    a.nav-link(href="https://www.instagram.com/creativetimofficial")
                        | QUIENES SOMOS
                li.nav-item
                    a.nav-link(href="https://twitter.com/creativetim")
                        | PRODUCTOS
                li.nav-item
                    a.nav-link(href="https://github.com/creativetimofficial/argon-design-system")
                        | CONTACTO
               
