section#instagram.py-5.mt-md-5.pt-md-5
    .container.text-center.contain
        h2.display-4.mb-2 #TAXIM
        p.text-muted Seguimos en IG #[a(href="https://www.instagram.com/taxim_txm/", target="_black") @taxim_txm]
        .swiper-container#swiperInstagramMovile
            .swiper-wrapper
                .swiper-slide
                    a(href="#")
                        img.img-fluid.w-100.rounded-3(src="./img/slider-ig/slider-ig-1.jpg", alt="Slider image")
                .swiper-slide
                    a(href="#")
                        img.img-fluid.w-100.rounded-3(src="./img/slider-ig/slider-ig-2.jpg", alt="Slider image")
                .swiper-slide
                    a(href="#")
                        img.img-fluid.w-100.rounded-3(src="./img/slider-ig/slider-ig-3.jpg", alt="Slider image")
                .swiper-slide
                    a(href="#")
                        img.img-fluid.w-100.rounded-3(src="./img/slider-ig/slider-ig-4.jpg", alt="Slider image")
                .swiper-slide
                    a(href="#")
                        img.img-fluid.w-100.rounded-3(src="./img/slider-ig/slider-ig-5.jpg", alt="Slider image")
                .swiper-slide
                    a(href="#")
                        img.img-fluid.w-100.rounded-3(src="./img/slider-ig/slider-ig-6.jpg", alt="Slider image")
                .swiper-slide
                    a(href="#")
                        img.img-fluid.w-100.rounded-3(src="./img/slider-ig/slider-ig-7.jpg", alt="Slider image")
                .swiper-slide
                    a(href="#")
                        img.img-fluid.w-100.rounded-3(src="./img/slider-ig/slider-ig-8.jpg", alt="Slider image")                  
            .swiper-pagination.mt-4