extends ../layouts/_main
block content 
    #about-section1.container.pt-5.px-0.px-md-auto
        h2.display-4.mb-4.position-absolute.z-1 
            | NOS #[br.d-md-block.d-none]
            | ESPECIALIZAMOS #[br.d-md-block.d-none]
            | EN #[span.bg-primary REPUESTOS] #[br.d-md-block.d-none]
            | #[span.bg-primary RENAULT]
        img(src="./img/theme/about/section1/image.png", alt="Taxim", data-screen="d").container
        