extends ../layouts/_main
block content 
    .container.pt-5   
        #lottie-container
    img(src="./img/bg.svg", alt="Background").bg-home.container.pt-4   
    #section-components.section.section-components.pb-0
        .container
            .row.justify-content-center
                .col
                    .card(style="width: 18rem;")
                        img.card-img-top(src="./img/slider/image0.png", alt="Card image cap")
                        .card-body.text-center
                            h6.card-title.fw-bold BUEN PRECIO
                            p.card-text(style="font-size:14px !important") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci sem, porta ut ullamcorper quis, egestas et eros.
                .col    
                    .card(style="width: 18rem;")
                        img.card-img-top(src="./img/slider/image1.png", alt="Card image cap")
                        .card-body.text-center
                            h6.card-title.fw-bold ALTÍSIMA CALIDAD
                            p.card-text(style="font-size:14px !important") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci sem, porta ut ullamcorper quis, egestas et eros.
                .col    
                    .card(style="width: 18rem;")
                        img.card-img-top(src="./img/slider/image2.png", alt="Card image cap")
                        .card-body.text-center
                            h6.card-title.fw-bold MARCA CON RESPALDO
                            p.card-text(style="font-size:14px !important") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci sem, porta ut ullamcorper quis, egestas et eros.

    section#repuestos.position-relative
        .bg-section
        .container.py-4
            .text-center.mb-xxl-5.mb-lg-4
                h2.display-4.mb-4 ¿QUÉ TIPO DE REPUESTO NECESITAS? ¡LO TENEMOS!
            .row.align-items-center
                .col-lg-6.mb-4.mb-lg-0
                    img.img-fluid(src="./img/theme/section3/image.png", alt="Repuestos")
                .col-lg-6
                    .row
                        .col-md-6
                            ul.list-unstyled
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Carrocería
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Cerraduras y Llaves
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Climatización
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Componentes de Seguridad
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Cristales
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Electroventiladores
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Encendido
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Espejos
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Filtros
                        .col-md-6
                            ul.list-unstyled
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Frenos
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Iluminación
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Instalaciones Eléctricas
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Inyección
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Motor
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Repuestos de Exterior
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Repuestos de Habitáculo
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Suspensión y Dirección
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Transmisión