extends ../layouts/_main
block content 
    .container.pt-5.px-0.px-md-auto   
        #lottie-container
    img(src="./img/bg.svg", alt="Background").bg-home.container.pt-4.d-md-block.d-none   
    #section-components.section.section-components.pb-0
        .container
            #swiperCards.swiper
                .swiper-wrapper
                    .swiper-slide
                        .card
                            img.card-img-top(src="./img/slider/image0.png", alt="Card image cap")
                            .card-body.text-center
                                h6.card-title.fw-bold BUEN PRECIO
                                p.card-text(style="font-size:14px !important") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci sem, porta ut ullamcorper quis, egestas et eros.
                    .swiper-slide
                        .card
                            img.card-img-top(src="./img/slider/image1.png", alt="Card image cap")
                            .card-body.text-center
                                h6.card-title.fw-bold ALTÍSIMA CALIDAD
                                p.card-text(style="font-size:14px !important") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci sem, porta ut ullamcorper quis, egestas et eros.
                    .swiper-slide
                        .card
                            img.card-img-top(src="./img/slider/image2.png", alt="Card image cap")
                            .card-body.text-center
                                h6.card-title.fw-bold MARCA CON RESPALDO
                                p.card-text(style="font-size:14px !important") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci sem, porta ut ullamcorper quis, egestas et eros.
                .swiper-pagination.mt-4

    section#repuestos.position-relative
        .bg-section
        .container.py-md-4
            .text-center.mb-xxl-5.mb-lg-4
                h2.display-4.mb-4 ¿QUÉ TIPO DE REPUESTO NECESITAS? ¡LO TENEMOS!
            .row.align-items-center
                .col-lg-6.mb-4.mb-lg-0
                    img.img-fluid(src="./img/theme/home/section3/image.png", alt="Repuestos")
                .col-lg-6
                    .row
                        .col-md-6.pl-5.pl-md-auto
                            ul.list-unstyled
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Carrocería
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Cerraduras y Llaves
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Climatización
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Componentes de Seguridad
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Cristales
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Electroventiladores
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Encendido
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Espejos
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Filtros
                        .col-md-6.pl-5.pl-md-auto
                            ul.list-unstyled
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Frenos
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Iluminación
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Instalaciones Eléctricas
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Inyección
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Motor
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Repuestos de Exterior
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Repuestos de Habitáculo
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Suspensión y Dirección
                                li.mb-2
                                    img.arrow-icon.mr-2(src="./img/arrow.svg", alt="arrow")
                                    | Transmisión

    section#testimonios.py-5.mt-md-5
        .container.mt-md-5.pt-md-5
            .text-center.mb-5.pt-md-5.pb-2
                h5.display-5.font-weight-bold #ExperienciaTAXIM
                h3.mb-4 NUESTROS CLIENTES OPINAN
            #swiperTestimonios.swiper
                .swiper-wrapper
                    .swiper-slide
                        .row.justify-content-center
                            .col-md-10
                                .card.border-0.shadow
                                    .card-body.p-5
                                        .row.align-items-center
                                            .col-md-5
                                                img.img-fluid(src="./img/theme/home/section4/image.png", alt="Kit de distribución")
                                            .col-md-7.text-center
                                                h6.mb-3.font-weight-bold Juan Martín Orella
                                                hr  
                                                p.lead "Original por donde se lo mire. Tranquilidad por los próximos 60000 kms."
                    .swiper-slide
                        .row.justify-content-center
                            .col-md-10
                                .card.border-0.shadow
                                    .card-body.p-5
                                        .row.align-items-center
                                            .col-md-5
                                                img.img-fluid(src="./img/theme/home/section4/image.png", alt="Bomba de agua")
                                            .col-md-7.text-center
                                                h6.mb-3.font-weight-bold Carlos Rodríguez
                                                hr  
                                                p.lead "Excelente calidad y servicio. La bomba de agua funciona perfectamente."
                    .swiper-slide
                        .row.justify-content-center
                            .col-md-10
                                .card.border-0.shadow
                                    .card-body.p-5
                                        .row.align-items-center
                                            .col-md-5
                                                img.img-fluid(src="./img/theme/home/section4/image.png", alt="Kit de filtros")
                                            .col-md-7.text-center
                                                h6.mb-3.font-weight-bold María González
                                                hr  
                                                p.lead "Los filtros son de primera calidad. Mi auto funciona como nuevo."
                .swiper-pagination.mt-5

    section#instagram.py-5.mt-md-5.pt-md-5
        .container.text-center
            h2.display-4.mb-2 #TAXIM
            p.text-muted.mb-5 Seguimos en IG @taxim_txm
            .swiper-container#swiperInstagramMovile
                .swiper-wrapper
                    .swiper-slide
                        a(href="#")
                            img.img-fluid.w-100.rounded-3(src="./img/slider/image0.png", alt="Polichela TAXIM")
                    .swiper-slide
                        a(href="#")
                            img.img-fluid.w-100.rounded-3(src="./img/slider/image1.png", alt="Stock TAXIM")
                    .swiper-slide
                        a(href="#")
                            img.img-fluid.w-100.rounded-3(src="./img/slider/image2.png", alt="Linea TAXIM")
                    .swiper-slide
                        a(href="#")
                            img.img-fluid.w-100.rounded-3(src="./img/slider/image1.png", alt="Nuevo Ingreso")
                .swiper-pagination.mt-4