extends ../layouts/_main
block content 
    //.section.section-hero.section-shaped
            .shape
    #container-home        
        .container    
            #lottie-container
            //.page-header
                .container.shape-container.d-flex.align-items-center.py-lg
                    .col.px-0
                        .row.align-items-center.justify-content-center
                            .col-lg-6.text-center
                                img.img-fluid(src="./img/brand/white.png", style="width: 200px;")
                                p.lead.text-white A beautiful Design System for Bootstrap 4. It&apos;s Free and Open Source.
                                .btn-wrapper.mt-5
                                    a.btn.btn-lg.btn-white.btn-icon.mb-3.mb-sm-0(href="https://www.creative-tim.com/product/argon-design-system")
                                        span.btn-inner--icon
                                            i.ni.ni-cloud-download-95
                                        span.btn-inner--text Download HTML
                                    a.btn.btn-lg.btn-github.btn-icon.mb-3.mb-sm-0(href="https://github.com/creativetimofficial/argon-design-system", target="_blank")
                                        span.btn-inner--icon
                                            i.fa.fa-github
                                        span.btn-inner--text
                                            span.text-warning Star us
                                            | on Github
                                .mt-5
                                    small.font-weight-bold.mb-0.mr-2.text-white *proudly coded by
                                    img(src="./img/brand/creativetim-white-slim.png", style="height: 28px;")
            //.separator.separator-bottom.separator-skew.zindex-100
                svg(x="0", y="0", viewBox="0 0 2560 100", preserveAspectRatio="none", version="1.1", xmlns="http://www.w3.org/2000/svg")
                    polygon.fill-white(points="2560 0 2560 100 0 100")
    #section-components.section.section-components.pb-0
        .container
            .row.justify-content-center
                .col
                    .card(style="width: 18rem;")
                        img.card-img-top(src="./img/slider/image0.png", alt="Card image cap")
                        .card-body.text-center
                            h5.card-title.fw-bold BUEN PRECIO aaa
                            p.card-text(style="font-size:14px !important") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci sem, porta ut ullamcorper quis, egestas et eros.
                .col    
                    .card(style="width: 18rem;")
                        img.card-img-top(src="./img/slider/image1.png", alt="Card image cap")
                        .card-body.text-center
                            h5.card-title.fw-bold ALTÍSIMA CALIDAD
                            p.card-text(style="font-size:14px !important") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci sem, porta ut ullamcorper quis, egestas et eros.
                .col    
                    .card(style="width: 18rem;")
                        img.card-img-top(src="./img/slider/image2.png", alt="Card image cap")
                        .card-body.text-center
                            h5.card-title.fw-bold MARCA CON RESPALDO
                            p.card-text(style="font-size:14px !important") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus orci sem, porta ut ullamcorper quis, egestas et eros.
