extends ../layouts/_main
block content 
    .container.pt-5.px-0.px-md-auto.text-center
        .text-center.mb-5.pt-md-5.pb-2
            h5.display-5.font-weight-bold #TodoParaTuRenault
            h3.mb-4 ¿QUÉ NECESITÁS?
        .row 
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4
                .text-center.display-5.font-weight-bold.mb-3
                    | SUSPENSIÓN
                .card.shadow.rounded-3.p-3
                    img.card-img-top(src="./img/theme/products/section1/image1.png", alt="Card image cap").col-12
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4
                .text-center.display-5.font-weight-bold.mb-3
                    | TRANSMISIÓN
                .card.shadow.rounded-3.p-3
                    img.card-img-top(src="./img/theme/products/section1/image2.png", alt="Card image cap").col-12
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4 
                .text-center.display-5.font-weight-bold.mb-3
                    | REFRIGERACIÓN
                .card.shadow.rounded-3.p-3
                    img.card-img-top(src="./img/theme/products/section1/image3.png", alt="Card image cap").col-12
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4.mt-md-5
                .text-center.display-5.font-weight-bold.mb-3
                    | CERRAJERÍA
                .card.shadow.rounded-3.p-3
                    img.card-img-top(src="./img/theme/products/section1/image4.png", alt="Card image cap").col-12
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4.mt-md-5
                .text-center.display-5.font-weight-bold.mb-3
                    | MOTOR
                .card.shadow.rounded-3.p-3
                    img.card-img-top(src="./img/theme/products/section1/image5.png", alt="Card image cap").col-12
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4.mt-md-5
                .text-center.display-5.font-weight-bold.mb-3
                    | ENCENDIDO Y ELECTRICIDAD
                .card.shadow.rounded-3.p-3
                    img.card-img-top(src="./img/theme/products/section1/image6.png", alt="Card image cap").col-12
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4.mt-md-5.d-flex.align-items-center.justify-content-center.position-relative.pb-5
                img(src="./img/theme/products/section1/bg-start.png", alt="Taxim").img-product-start.position-absolute
                div
                    .text-center.display-5.font-weight-bold.mb-3
                        | FILTROS
                    .card.shadow.rounded-3.p-3
                        img.card-img-top(src="./img/theme/products/section1/image7.png", alt="Card image cap").col-12
            .col-md-8.col-10.mx-auto.mb-5.mb-md-4.mt-md-5.d-flex.align-items-center.justify-content-center.position-relative.mt-5
                img(src="./img/theme/products/section1/bg-end.png", alt="Taxim").col-md-10.img-product-end
                h3.display-4.font-weight-light.text-center.mb-3.position-absolute
                    | CONOCÉ TODOS LOS PRODUCTOS #[br.d-none.d-md-block]
                    | Y KITS QUE TAXIM TIENE PARA #[br.d-none.d-md-block]
                    | #[b.font-weight-bold TU RENAULT]
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4.mt-md-5.py-md-5.pt-5
                .text-center.display-5.font-weight-bold.mb-3
                    | KIT DE REPARACION
                .card.shadow.rounded-3.p-3
                    img.card-img-top(src="./img/theme/products/section1/image8.png", alt="Card image cap").col-12
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4.mt-md-5.py-md-5
                .text-center.display-5.font-weight-bold.mb-3
                    | KIT DE EMBRAGUE
                .card.shadow.rounded-3.p-3
                    img.card-img-top(src="./img/theme/products/section1/image9.png", alt="Card image cap").col-12
            .col-md-4.col-10.mx-auto.mb-5.mb-md-4.mt-md-5.py-md-5
                .text-center.display-5.font-weight-bold.mb-3
                    | KIT DE DISTRIBUCION
                .card.shadow.rounded-3.p-3
                    img.card-img-top(src="./img/theme/products/section1/image10.png", alt="Card image cap").col-12
    img(src="./img/theme/products/section1/bg.png", alt="Background").bg-home.container.pt-4.d-md-block.d-none.tscale1-5
    .d-md-none.d-block.pt-5
        img(src="./img/theme/products/section1/bgM.png", alt="Background").bg-home.container.pt-4.mt-5