extends ../layouts/_main
block content 
    #contact.container.pt-5.px-0.px-md-auto.pb-5
        h3.display-4.font-weight-light.mb-3.text-center.mb-md-2
            | MUCHAS GRACIAS POR ENVIARNOS TU MENSAJE, #[br]
            |  NOS CONTACTAREMOS A LA BREVEDAD
    img(src="./img/theme/products/section1/bg.png", alt="Background").bg-home.container.pt-4.d-md-block.d-none
    .d-md-none.d-block.pt-5
        img(src="./img/theme/products/section1/bgM.png", alt="Background").bg-home.container.pt-4.mt-5